# Cursor IDE
.cursor/

# Archivos sin extension
app
sudo

# Scripts temporales
setup-git.sh

# Carpeta con archivos que no se versionan
noGit/

# Build files
build/
*.elf
*.bin
*.o
*.a
*.lst

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# Archivos temporales
*.swp
*~

